/* Reference for horizontally and vertically centering content:
 * https://www.w3.org/Style/Examples/007/center.en.html */

html {
  font-size: 1.2em;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  background-color: #555;
  color: white;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
}

header div {
  padding: 0 1rem;
  background-color: #333;
  min-width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div:hover {
  background-color: #222;
}

